.resource-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resource-list li a {
  display: block;
  background: #F7FBFE;
  padding: 15px 30px 15px 15px;
  color: #2D99E2;
  margin-bottom: 2px;
  position: relative;
  cursor: pointer;
}

.resource-list li a:hover {
  background: #DFEBF4;
}

.resource-list li a img {
  position: absolute;
  right: 10px;
  top: 15px;
}
