@import '~assets/styles/_colors.scss';

header {
  background: $base;
  height: 54px;
}

header .menu-trigger {
  position: absolute;
  top: 22px;
  left: 16px;
}

header .logo {
  margin: 13px 0 0 40px;
  float: left;
}


@media (max-width: 768px) {
  header {
    text-align: center;
  }
  header .logo {
    float: none;
  }
  header .search {
    position: absolute;
    top: 18px;
    right: 16px;
  }
}
