@import '~assets/styles/_colors.scss';

.container {
  padding: 54px 0;
}

.main {
  background: $main-content;
  border: solid 1px $border-color;
  border-radius: 5px;
  width: 995px;
  float: right;
}
